.root {
	h1 {
		font-size: 32px;
		font-family: 'Poppins', sans-serif;
		color: rgb(224, 145, 81);
		padding-bottom: 18px;
    }
    body {
        background-color: red;
    
        }
}



.pageWrapper {
	display: flex;
	flex-direction: column;
	padding: 4%;
}


img {
	width: 100%;
	height: 500px;
	object-fit: contain;
}